<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>

<form action="http://localhost:8080/api/v1/product" method="post" enctype="multipart/form-data">
    <div>
        <label for="productName">Tên sản phẩm:</label>
        <input type="text" id="productName" name="productName" required>
    </div>
    <div>
        <label for="productPrice">Giá sản phẩm:</label>
        <input type="number" id="productPrice" name="productPrice" required>
    </div>
    <div>
        <label for="mainImage">Ảnh chính:</label>
        <input type="file" id="mainImage" name="mainImage" accept="image/*" required>
    </div>
    <div>
        <label for="thumbnailImage">Ảnh thumbnail:</label>
        <input type="file" id="thumbnailImage" name="thumbnailImage" accept="image/*" required>
    </div>
    <div>
        <label for="galleryImages">Ảnh gallery:</label>
        <input type="file" id="galleryImages" name="galleryImages" accept="image/*" multiple>
    </div>
    <button type="submit">Submit</button>
</form>